.payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
 /* .payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #060644;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(175, 191, 219);
    color: black;
  }*/

  .payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #060644;
    padding: 40px;
    background-color: rgb(175, 191, 219);
    color: black;
    max-width: 600px; 
    margin: 0 auto; 
  }

  .payment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    border: 5px solid #060644;
    padding: 40px;
    background-color: rgb(175, 191, 219);
    color: black;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .payment-form > * {
    margin-left: 10px; 
  }
  
  .payment-form label {
    display: inline-block;
    width: 120px; 
    font-weight: bold;
  }
  
  .payment-form input,
  .payment-form span {
    margin-bottom: 10px;
  }
  
 
  .cash-pay-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 28px;
    background-color: #060644;
    color: white;
    text-decoration: none;
    border:  2px solid black;
    margin-bottom: 10px;
   margin-left: 100px;
  }
  
  .cash-pay-button:hover {
    background-color: #7c96ca;
    color: black;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  #card-pay-button {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: darkred;
    color: white;
    border: 2px solid black;
    font: 26px;
    font-size: medium;
    font-weight:200;
    margin-left: 100px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  #card-pay-button:hover {
    background-color: lightcoral;
    color: black;
  }
  
  #card-input-container {
    margin-top: 20px;
  }
  
  #card-input {
    margin-bottom: 10px;
  }  

  .form-row {
    margin-bottom: 10px;
    
  }

  #pay-button{
    margin-top: 20px;
    padding: 10px 50px;
    background-color: rgb(10, 92, 15);
    color: white;
    border: 2px solid black;
    font: 26px;
    font-size: medium;
    font-weight:200;
    margin-left: 90px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  #pay-button:hover {
    background-color: rgb(147, 240, 128);
    color: black;
  }

